@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jumpAndChangeColor {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    color: #000; /* Cambia esto al color inicial de tus letras */
  }

  40% {
    transform: translateY(-10px);
    color: #ff0000; /* Cambia esto al color que desees cuando las letras estén saltando */
  }

  60% {
    transform: translateY(-5px);
    color: #0000ff; /* Cambia esto al color que desees cuando las letras estén saltando */
  }
}

.hover\\:jump-and-change:hover {
  animation: jumpAndChangeColor 0.5s ease-in-out;
}
